html,body{
	margin:0;
	padding:0;
	height:100%;
	font-size:12px;
	font-family: "Montserrat",sans-serif;
}

#titlebar{
	background-image: -webkit-linear-gradient(top, #8D98B8 0%, #8491B3 100%);
	border-bottom:1px solid #646d87;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  	position:absolute;
  	top:0;left:0;right:0;
  	display:block;	
	height:40px;
	line-height:40px;
	-webkit-app-region: drag;
}

#titleHead{
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.3);
	color:#636b85;
	margin-left:15px;
}
/*
#titlebar{
	top:-40px;
	-webkit-transition: 0.5s linear;
}

#titlebar.title-show{
	top:0;
}*/


#titleButtons{
	margin:13px 8px 0 0;
}


#titleButtons .button{
	width:16px;
	height:16px;
	margin: 0 8px;
	-webkit-app-region: no-drag;
}

.button img{
	position: absolute;
	opacity:1;
}

.button .button-default{
	-webkit-transition: opacity 0.15s linear;
}

.button .button-hover{
	opacity:0;
}

.button:hover .button-hover{
	opacity:1;
}

.button:hover .button-default{
	opacity:0;
}


#mainContainer{
	position:absolute;
	width:100%;
	top:40px;bottom:0;
	left:0;right:0;
	background-color:#eee;
}

#welcomeContainer, #createContainer, #joinContainer{
	position: relative;
	text-align:center;
	background-color:#f3f5fa;
	height:100%;
	display:table;
	width:100%;

}

#joinContainer{
	display:block;
	text-align:left;
}

.centerWrapper{
   	display: table-cell;
   	vertical-align: middle;		
}

#welcomeTitle{
	font-size:92px;
	padding-bottom:20px;
	font-weight:bold;
	width:100%;
	letter-spacing:-7px;
	color:#bdc3c7;
	background: -webkit-linear-gradient(#e3e3e3, #cecece);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#welcomeButtons{

}

#joinWrapper{
	position:relative;
	height:100%;
}

#joinTitle{
	position:absolute;
	margin: 0 auto;
	left:0;right:0;
	top:20px;
	font-size: 14px;
	width:400px;
}

.group-count{
	font-weight:bold;
}

.group-item{
	margin-bottom:10px;
	padding:10px;
}
.group-item.selected{
	background-color:#F0F9FF;
}
.group-image{
	width:40px;
	height:40px;
	border-radius:3px;
	background-color:#eee;
	margin-right:10px;
}
.group-info{
	line-height:20px;
}
.group-topic{
	font-size:14px;
	font-weight:bold;
}

.group-owner{
	color:#888;
}

.group-users{
	line-height:40px;
	font-size:14px;
	color:#aaa;
}
.group-users strong{
	color:#222;
}

#joinListing{
  	margin: auto;
	position:absolute;
	top:50px;
	bottom:100px;
	left:0;right:0;
  	min-width:400px;
  	max-width:700px;
  	width:60%;
	border-radius:3px;
}

#joinSubmit.joinButton{
	position:absolute;
	left:0;
	right:0;
	width:80px;
	bottom:30px;
	display:block;
	margin: auto;
}

.createButton, .joinButton{
	margin:0 10px;
	font-size:14px;
	font-weight:bold;
	padding: 15px 35px;
	border-radius:3px;
	background-color: #3498DB;
	background-image:-webkit-linear-gradient(top, #73B2F1 0%, #64A3EF 100%);
	border:1px solid #5992d6;
	color:#fff;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.3);

}

.createButton:disabled{
	background-color: #81D4C4;	
	background-image: none;
	box-shadow: none;
}

.joinButton:disabled{
	background-color: #9DC6E0;	
	box-shadow: none;
}



.createButton{
	background-color:#1bc6a5;
	background-image:-webkit-linear-gradient(top, #44D4C8 0%, #3DBBAE 100%);
	border:1px solid #3cb5aa;
}

.form-label{
	font-size:20px;
	color:#2c3e50;
	font-weight:bold;
	text-align:left;
}

.form-text{
	padding:15px;
	border-radius:3px;
	border:1px solid #d5dae7;
	box-shadow:0 1px 1px #f5f5f5;
	background-color:#fff;
	min-width:300px;
	margin:5px 0 10px;
	font-size:14px;
	color:#666;
	font-weight:bold
}

.form-text:focus, .form-text:active{
	outline: 0;
}

#chatWrapper, #chatInnerWrapper{
	position: absolute;
	top:0;
	left:0;right:130px;
	bottom:0;	
}

#chatInnerWrapper{
	position: relative;
	height:100%;
}

#chatContainer{
	position: absolute;
	top:0;
	left:0;right:0;
	bottom:60px;
}

#chatUsers{
	position: absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:130px;
	background-color: #fff;
	border-left:1px solid #eee;
	box-sizing:border-box;
	padding:2px 0;
	border-left:1px solid #ddd;
}

#chatUsers > div{
	padding:2px 8px;
	box-sizing:border-box;
	border-bottom:1px solid #eee;
}

#chatUsers > div > span.ico{
	background-image: url("../img/profile_default.png");
	width:24px;
	height:24px;
	background-size: 24px 24px;
	border-radius:24px;
	display: inline-block;
}

#backButton{
	width:16px;
	height:16px;
	margin-top:13px;
	margin-left:15px;
	-webkit-app-region: no-drag;
}

#backButton:hover{
	opacity:1;
}

#chatUsers > div > span.user{
	position: relative;
	top:-6px;
	left:5px;
	max-width: 85px;
	display: inline-block;
	color:#888;
	cursor:default;
}

#chatUsers > div:hover{
	background-color: #fff
}

#inputContainer{
	position: absolute;
	bottom:0;
	left:0;right:0;
	height:60px;
}

#chatInputForm{
	position: relative;
	bottom:0;
	left:0;right:0;
	height:60px;
}

#chatInput{
	height:40px;
	padding:0;
	position: absolute;
	left:10px;
	top:10px;
	right:100px;
	padding: 0 10px;
	background-color:#d9d9d9;
	color:#757370;
}

#chatInput:focus, #chatSubmit:focus, #chatSubmit:active{
	outline: 0;
}

#chatSubmit:active{
	background-color:#2b46bd;
}

#chatSubmit{
	height:40px;
	width:80px;
	position: absolute;
	top:10px;
	right:10px;
	background-color:#3453db;
	color:#fff;
	font-weight:bold;
}

#chatSubmit.disabled{
	background-color:#617bea;
}

#chatInput, #chatSubmit{
	box-sizing:border-box;
	border:none;
	margin:0;
	border-radius:2px;
}

#chatContainer{
	padding:10px;
	box-sizing:border-box;
	overflow: auto;
}

#chatContainer > div{
	padding: 8px;
	margin: 5px 0;
	border-radius:2px;
	color:#888;
}

div.log{
	text-shadow:0 1px 0 #fff;	
	box-shadow: none !important;
}

#chatContainer > div.sys{
	background-color:#27ae60;
	color:#fff;
}

#chatContainer > div.admin{
	background-color:#a7accd;
	color:#fff;
}

#chatContainer > div.server{
	background-color:#ddd;
	color:#888;
}

#chatContainer .msg{
	position:relative;
	padding:0;
}

#chatContainer .msg-text{
	margin-left:50px;
	background-color:#fff;
	padding:8px;
	border-radius:2px;
	line-height:20px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

#chatContainer .row-right .msg-text{
	margin-left:0px;
	margin-right:50px;
}

#chatContainer .msg-meta{
	position:absolute;
	top:0;
	left:0;
}

#chatContainer .row-right .msg-meta{
	position:absolute;
	top:0;
	right:0;
	left:auto;
}


#chatContainer  .msg-user{
	font-weight:bold;
	color:#444;
}

#chatContainer .msg-ico{
	background-image: url("../img/profile_default.png");
	width:40px;
	height:40px;
	background-size:40px 40px;
	border-radius:2px;	
}

#chatContainer .msg-time{
	font-size:11px;
	line-height:20px;
	width:40px;
	text-align: center;
	color:#aaa;
	text-shadow: 0 1px 0 #fff;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col{
	float:left;
}

.col-right{
	float:right;
}

.row-right .col{
	float:right;
}