html,body{
	margin:0;
	padding:0;
	height:100%;
	font-size:12px;
	font-family: "Source Sans Pro",sans-serif;
}

#titlebar{
	background-image: -webkit-linear-gradient(top, #8D98B8 0%, #8491B3 100%);
	border-bottom:1px solid #646d87;
	box-sizing:border-box;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  	position:absolute;
  	top:0;left:0;right:0;
  	display:block;	
	height:40px;
	line-height:40px;
	-webkit-app-region: drag;
}

#titleHead{
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.3);
	color:#636b85;
	margin-left:15px;
}

#titleProfile{
	color:#fff;
	font-size:14px;
	margin: 0 10px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);

}

.title-sep{
background-image: url("../img/title_divider.png");
width:2px;
height:22px;
margin:18px 10px 0;
}

#titleButtons{
	margin:13px 8px 0 0;
}


#titleButtons .button{
	width:16px;
	height:16px;
	margin: 0 8px;
	-webkit-app-region: no-drag;
}

.button img{
	position: absolute;
	opacity:1;
}

.button .button-default{
	-webkit-transition: opacity 0.15s linear;
}

.button .button-hover{
	opacity:0;
}

.button:hover .button-hover{
	opacity:1;
}

.button:hover .button-default{
	opacity:0;
}


#mainContainer{
	position:absolute;
	width:100%;
	top:40px;bottom:0;
	left:0;right:0;
	background-color:#eee;
}

#welcomeContainer, #createContainer, #joinContainer{
	position: relative;
	text-align:center;
	background-color:#f3f5fa;
	height:100%;
	display:table;
	width:100%;

}

#joinContainer{
	display:block;
	text-align:left;
	color:#9ba2b3;
}

.centerWrapper{
   	display: table-cell;
   	vertical-align: middle;		
}

#welcomeTitle{
	font-size:92px;
	padding-bottom:20px;
	font-weight:bold;
	width:100%;
	letter-spacing:-7px;
	color:#bdc3c7;
	background: -webkit-linear-gradient(#e3e3e3, #cecece);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#welcomeProfile, #welcomeButtons { }

#joinWrapper{
	position:relative;
	height:100%;
}

#joinHeader{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	line-height:44px;
	background-color:#edf0f8;
}

#groupList{

}

#joinSubmit.joinButton{
	position:absolute;
	left:0;
	right:0;
	width:80px;
	bottom:30px;
	display:block;
	margin: auto;
}

#joinCount{
	margin: 0 10px;
}


#joinLoaderWrapper { width:100%;text-align:center; padding:25px 0;}
#joinLoader{ margin:0 auto }

#groupsTable, #groupsTableHead{
	width:100%;
	font-family: "Source Sans Pro Semibold",sans-serif;
	border-spacing: 0;
    border-collapse: collapse;
    font-size:13px;
}

#groupsTable{
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);		
}

#groupsTableHead{
	position:absolute;
	z-index:999;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
}

#groupsTableHead thead{
	background-image:-webkit-linear-gradient(top, #edf0f8 0%, #e9ecf5 100%);
	width:100%;
}


#groupsTableHead th{
	padding: 10px 15px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	border-left:1px solid #ddd;
	text-shadow: 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#groupsTable tr{
	transition: 0.2s linear;
	border-bottom:1px solid #dee8ef;
	border-top:1px solid #dee8ef;
	box-sizing:border-box;
	-webkit-user-select: none;
}


#groupsTable tr:first-child{
	border-top:0;
}

#groupsTable tr.dummy-row{
	height:37px;
	width:100%;
}

#groupsTable th:first-child{
	border-left:none;
}
#groupsTable td{
	padding: 20px 15px;
	color:#666;
	background-color:#fff;
	cursor:default;
	transition: 0.1s linear;
	color:#949bae;
}

#groupsTable tr:nth-child(2n) td{
	background-color:#fbfcfe;
}

#groupsTable tr:hover td, #groupsTable tr:nth-child(2n):hover td{
	background-color:#e0f0ff;
}

#groupsTable tr.selected td, #groupsTable tr.selected:hover td{
	background-color:#7bb8f2;
	border-color:#65a2e0;
	color:#fff;
}

.btn{
	margin: 5px 0;
	font-size:12px;
	line-height:20px;
	border-radius:3px;
	padding: 6px 16px;
	background-image:-webkit-linear-gradient(top, #fefefe 0%, #eff2f7 100%);
	background-repeat: no-repeat;
	transition: 0.15s linear;
	border:1px solid #c9d4de;
	color:#8995b5;
	box-shadow:  0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.3);		
	font-family: "Source Sans Pro Semibold",sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	text-transform:uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.btn img{
	vertical-align: middle
}

.btn:disabled{
	background-image:none;
	background-color:#eff2f7;
	color:#97a3c3;
	box-shadow:0 1px 0 rgba(255,255,255,0.9);
	text-shadow:none;
}
.btn:disabled img{
	opacity: 0.7
}

.btn-primary{
	background-color:#64A3EF;
	background-image:-webkit-linear-gradient(top, #73B2F1 0%, #64A3EF 100%);
	border:1px solid #5992d6;
	color:#fff;	
}

.btn-primary:disabled{
	background-color:#73B2F1;
	color:#fff;	
}

.btn-secondary{
	background-color:#3DBBAE;
	background-image:-webkit-linear-gradient(top, #44D4C8 0%, #3DBBAE 100%);
	border:1px solid #3cb5aa;
	color:#fff;	
}

.btn-secondary:disabled{
	background-color:#44D4C8;
	color:#fff;	
}

.btn:hover{
	background-position: 0 -32px;
}

.btn:focus, .btn:active{
	outline: 0;
}

.btn-large{
	margin:0 10px;	
	font-size:14px;
	padding: 12px 35px;
}



.form-label{
	font-size:20px;
	color:#2c3e50;
	font-weight:bold;
	text-align:left;
}

.form-text{
	padding:15px;
	border-radius:3px;
	border:1px solid #d5dae7;
	box-shadow:0 1px 1px #f5f5f5;
	background-color:#fff;
	min-width:300px;
	margin:5px 0 10px;
	font-size:14px;
	color:#666;
	font-weight:bold
}

.form-text:focus, .form-text:active{
	outline: 0;
}

#chatWrapper, #chatInnerWrapper{
	position: absolute;
	top:0;
	left:0;right:130px;
	bottom:0;	
}

#chatInnerWrapper{
	position: relative;
	height:100%;
}

#chatContainer{
	position: absolute;
	top:0;
	left:0;right:0;
	bottom:60px;
}

#chatUsers{
	position: absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:130px;
	background-color: #fff;
	border-left:1px solid #eee;
	box-sizing:border-box;
	padding:2px 0;
	border-left:1px solid #ddd;
}

#chatUsers > div{
	padding:2px 8px;
	box-sizing:border-box;
	border-bottom:1px solid #eee;
}

#chatUsers > div > span.ico{
	background-image: url("../img/profile_default.png");
	width:24px;
	height:24px;
	background-size: 24px 24px;
	border-radius:24px;
	display: inline-block;
}

#backButton{
	width:16px;
	height:16px;
	margin-top:13px;
	margin-left:15px;
	-webkit-app-region: no-drag;
}

#backButton:hover{
	opacity:1;
}

#chatUsers > div > span.user{
	position: relative;
	top:-6px;
	left:5px;
	max-width: 85px;
	display: inline-block;
	color:#888;
	cursor:default;
}

#chatUsers > div:hover{
	background-color: #fff
}

#inputContainer{
	position: absolute;
	bottom:0;
	left:0;right:0;
	height:60px;
}

#chatInputForm{
	position: relative;
	bottom:0;
	left:0;right:0;
	height:60px;
}

#chatInput{
	height:40px;
	padding:0;
	position: absolute;
	left:10px;
	top:10px;
	right:100px;
	padding: 0 10px;
	background-color:#d9d9d9;
	color:#757370;
}

#chatInput:focus, #chatSubmit:focus, #chatSubmit:active{
	outline: 0;
}

#chatSubmit:active{
	background-color:#2b46bd;
}

#chatSubmit{
	height:40px;
	width:80px;
	position: absolute;
	top:10px;
	right:10px;
	background-color:#3453db;
	color:#fff;
	font-weight:bold;
}

#chatSubmit.disabled{
	background-color:#617bea;
}

#chatInput, #chatSubmit{
	box-sizing:border-box;
	border:none;
	margin:0;
	border-radius:2px;
}

#chatContainer{
	padding:10px;
	box-sizing:border-box;
	overflow: auto;
}

#chatContainer > div{
	padding: 8px;
	margin: 5px 0;
	border-radius:2px;
	color:#888;
}

div.log{
	text-shadow:0 1px 0 #fff;	
	box-shadow: none !important;
}

#chatContainer > div.sys{
	background-color:#27ae60;
	color:#fff;
}

#chatContainer > div.admin{
	background-color:#a7accd;
	color:#fff;
}

#chatContainer > div.server{
	background-color:#ddd;
	color:#888;
}

#chatContainer .msg{
	position:relative;
	padding:0;
}

#chatContainer .msg-text{
	margin-left:50px;
	background-color:#fff;
	padding:8px;
	border-radius:2px;
	line-height:20px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

#chatContainer .row-right .msg-text{
	margin-left:0px;
	margin-right:50px;
}

#chatContainer .msg-meta{
	position:absolute;
	top:0;
	left:0;
}

#chatContainer .row-right .msg-meta{
	position:absolute;
	top:0;
	right:0;
	left:auto;
}


#chatContainer  .msg-user{
	font-weight:bold;
	color:#444;
}

#chatContainer .msg-ico{
	background-image: url("../img/profile_default.png");
	width:40px;
	height:40px;
	background-size:40px 40px;
	border-radius:2px;	
}

#chatContainer .msg-time{
	font-size:11px;
	line-height:20px;
	width:40px;
	text-align: center;
	color:#aaa;
	text-shadow: 0 1px 0 #fff;
}


/*
--------------------------------------
 Bubble Loader
--------------------------------------
*/

.bubblingG {
text-align: center;
width:48px;
height:30px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 6px;
height: 6px;
margin: 15px auto;
background: #bdc0ca;
-webkit-border-radius: 30px;
-webkit-animation: bubblingG 0.6s infinite alternate;
}

#bubblingG_1 {
-webkit-animation-delay: 0s;
}

#bubblingG_2 {
-webkit-animation-delay: 0.18s;
}

#bubblingG_3 {
-webkit-animation-delay: 0.36s;
}

@-webkit-keyframes bubblingG {
0% {
width: 6px;
height: 6px;
background-color:#bdc0ca;
-webkit-transform: translateY(0);
}

100% {
width: 14px;
height: 14px;
background-color:#d5d9e4;
-webkit-transform: translateY(-13px);
}

}


.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col{
	float:left;
}

.col-right{
	float:right;
}

.row-right .col{
	float:right;
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); 
    background-color:rgba(0,0,0,0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: background: rgba(0,0,0,0.3) 
}