html,body{
	margin:0;
	padding:0;
	height:100%;
	font-size:12px;
	font-family: "Source Sans Pro",sans-serif;
	-webkit-user-select: none;
}

#titlebar{
	background-image: -webkit-linear-gradient(top, #97a2c2 0%, #8693b5 100%);
	border-bottom:1px solid #7783a3;
	box-sizing:border-box;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
  	position:absolute;
  	top:0;left:0;right:0;
  	display:block;	
	height:40px;
	line-height:40px;
	-webkit-app-region: drag;
	padding: 0 12px;
}

#groupTab, #titleProfile{
	font-size:14px;
	margin: 0 12px;
}

#titleProfile{
	color:#c7d1ec;
	font-family: "Source Sans Pro",sans-serif;
}

#groupTab{
	color:#fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	margin: 14px 0 0 5px;
	line-height:26px;
	padding: 0 14px;
	display:inline-block;
	font-size:14px;
	background:transparent;
	-webkit-app-region: no-drag;
	z-index:10;
	position:relative;
	width:160px;
	box-sizing:border-box;
}

#groupTab::before{
	content:'';
	width:160px;
	height:26px;
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	z-index:-1;
	background: #c0c3d7;
	-webkit-transform: perspective(4px) rotateX(1deg);	
	border-radius:3px 3px 0 0;
	background:#a7accd;
	background-image: -webkit-linear-gradient(top, #c0c3d7 0%, #a7accd 100%);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6), 0 -1px 1px rgba(0,0,0,0.1);
}

#groupTabClose{
  position: absolute;
  top: 10px;right:10px;
  -webkit-app-region: no-drag;
}


#groupName{
	max-width:110px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	cursor: default
}


.ico-group-topic{
	width:16px; height:17px;
	background-image:url("../img/ico_group.png");
	margin: 13px 15px 0 20px;
}

#groupTopic{
	color:#e2dff8;
	font-size:16px;
	line-height: 37px;
}


.ico-close{
	width:10px;height:11px;
	background-image:url("../img/close_white.png");
	opacity:0.6;
	background-repeat:no-repeat;
}

.ico-close:hover{
	opacity:1;
}

#groupInfo{
	top:20px;
	-webkit-transition: 0.15s linear;
	z-index:-5;
}

#titleHead:hover #groupInfo{
	opacity:1;
	top:25px;
}


.ico-down{
	width:8px;
	height:6px;
	background-image:url("../img/arrow_down.png");
	margin:10px 0 0;
}

#groupPulse{
	margin:5px 5px 0 0;
}
/*
#titleTabs{
	height:30px;
	padding:0;
	overflow:visible;
	margin-top:8px;
	padding:0 10px;
}

.tab{
	width:150px;
	height:30px;
    margin: 0 3px;
    padding: 0 10px;
    border: 1px solid #646d87;
    background: #8895b7;
    float:left;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image: -webkit-linear-gradient(top, #9aa8cf 0%, #8895b7 100%); 
  	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  	line-height:30px;
  	color:#3d4558;
  	text-shadow:0 1px 0 rgba(255,255,255,0.3);
	font-family: "Source Sans Pro Semibold",sans-serif;
}

.tab.active {
  color:#444;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eeeeee 100%);  
  box-shadow: 0 0 2px 0 #fff inset;
  padding-bottom: 1px
}
*/

.title-sep{
background-image: url("../img/title_divider.png");
width:2px;
height:22px;
margin:17px 0 0;
}


#titleButtons{
	margin:13px 0 0;
}


#titleButtons .button{
	width:16px;
	height:16px;
	margin: 0 0 0 12px;
	-webkit-app-region: no-drag;
}

.button img{
	position: absolute;
	opacity:1;
}

.button .button-default{
	-webkit-transition: opacity 0.15s linear;
}

.button .button-hover{
	opacity:0;
}

.button:hover .button-hover{
	opacity:1;
}

.button:hover .button-default{
	opacity:0;
}


#mainContainer{
	position:absolute;
	width:100%;
	top:40px;bottom:0;
	left:0;right:0;
	background-color:#eee;
}

#welcomeContainer, #createContainer, #joinContainer{
	position: relative;
	text-align:center;
	background-color:#f8f8f8;
	height:100%;
	display:table;
	width:100%;

}

#joinContainer{
	display:block;
	text-align:left;
	color:#9ba2b3;
}

.centerWrapper{
   	display: table-cell;
   	vertical-align: middle;		
}


#welcomeTitle{
	font-size:92px;
	padding-bottom:20px;
	font-weight:bold;
	width:100%;
	letter-spacing:-7px;
	color:#bdc3c7;
	background: -webkit-linear-gradient(#e3e3e3, #cecece);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#welcomeProfile, #welcomeButtons { }

#joinWrapper{
	position:relative;
	height:100%;
}

#joinHeader{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	line-height:44px;
	background-color:#edf0f8;
}

#groupList{

}

#joinSubmit.joinButton{
	position:absolute;
	left:0;
	right:0;
	width:80px;
	bottom:30px;
	display:block;
	margin: auto;
}

#joinCount{
	margin: 0 10px;
}


#joinLoaderWrapper { width:100%;text-align:center; padding:25px 0;}
#joinLoader{ margin:0 auto }

#groupsTable{
	width:100%;
	font-family: "Source Sans Pro Semibold",sans-serif;
	border-spacing: 0;
    border-collapse: collapse;
    font-size:13px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
}


#groupsTable thead{
	background-image:-webkit-linear-gradient(top, #edf0f8 0%, #e9ecf5 100%);
	width:100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
}


#groupsTable th{
	padding: 10px 15px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	border-left:1px solid #ddd;
	text-shadow: 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#groupsTable tr{
	width:100%;
	transition: 0.2s linear;
	border-bottom:1px solid #dee8ef;
	border-top:1px solid #dee8ef;
	box-sizing:border-box;
	-webkit-user-select: none;
}


#groupsTable tr:first-child{
	border-top:0;
}

#groupsTable tr.dummy-row{
	height:37px;
	width:100%;
}

#groupsTable th:first-child{
	border-left:none;
}
#groupsTable td{
	padding: 20px 15px;
	color:#666;
	background-color:#fff;
	cursor:default;
	transition: 0.1s linear;
	color:#949bae;
}

#groupsTable tr:nth-child(2n) td{
	background-color:#fbfcfe;
}

#groupsTable tr:hover td, #groupsTable tr:nth-child(2n):hover td{
	background-color:#e0f0ff;
}

#groupsTable tr.selected td, #groupsTable tr.selected:hover td{
	background-color:#7bb8f2;
	border-color:#65a2e0;
	color:#fff;
}

.btn{
	margin: 5px 0;
	font-size:12px;
	line-height:20px;
	border-radius:3px;
	padding: 6px 16px;
	background-image:-webkit-linear-gradient(top, #fefefe 0%, #eff2f7 100%);
	background-repeat: no-repeat;
	transition: 0.15s linear;
	border:1px solid #c9d4de;
	color:#8995b5;
	box-shadow:  0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.3);		
	font-family: "Source Sans Pro Semibold",sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	text-transform:uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.btn img{
	vertical-align: middle
}

.btn:disabled{
	background-image:none;
	background-color:#eff2f7;
	color:#97a3c3;
	box-shadow:0 1px 0 rgba(255,255,255,0.9);
	text-shadow:none;
}
.btn:disabled img{
	opacity: 0.7
}

.btn-primary{
	background-color:#64A3EF;
	background-image:-webkit-linear-gradient(top, #73B2F1 0%, #64A3EF 100%);
	border:1px solid #5992d6;
	color:#fff;	
}

.btn-primary:disabled{
	background-color:#73B2F1;
	color:#fff;	
}

.btn-secondary{
	background-color:#3DBBAE;
	background-image:-webkit-linear-gradient(top, #44D4C8 0%, #3DBBAE 100%);
	border:1px solid #3cb5aa;
	color:#fff;	
}

.btn-secondary:disabled{
	background-color:#44D4C8;
	color:#fff;	
}

.btn:hover{
	background-position: 0 -32px;
}

.btn:focus, .btn:active{
	outline: 0;
}

.btn-large{
	margin:0 10px;	
	font-size:14px;
	padding: 12px 35px;
}



.form-label{
	font-size:20px;
	color:#2c3e50;
	font-weight:bold;
	text-align:left;
}

.form-text{
	padding:15px;
	border-radius:3px;
	border:1px solid #d5dae7;
	box-shadow:0 1px 1px #f5f5f5;
	background-color:#fff;
	min-width:300px;
	margin:5px 0 10px;
	font-size:14px;
	color:#666;
	font-weight:bold
}

.form-text:focus, .form-text:active{
	outline: 0;
}

#chatWrapper{
	position: absolute;
	top:40px;
	left:0;right:130px;
	bottom:0;	
}

#groupMeta{
	position:absolute;
	top:0;left:0;right:0;
	background-color:#a7accd;
	height:40px;
	line-height:40px;
	font-size:16px;
}

#groupUserCount{
	color:#6d7790;
}

#groupOptions{
	position:relative;
}

#groupOptions:hover .drop-menu{
	display: block;
}

.drop-menu{
	position:absolute;
	top:25px;
	width:140px;
	right:0px;
	background:#fff;
	z-index:99999;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-sizing:border-box;
	border-radius: 2px;
	display:none;
}

.drop-menu div{
	padding: 10px 15px;
	display:block;
	font-size:11px;
	text-align: left;
}

.drop-menu div.drop-sep{
	height:1px;
	background:#ddd;
	padding:0;
	margin:0 5px;
}

.drop-menu div:hover{
	background-color:#8d99b9;
	color:#fff;
}

.drop-menu div.quit:hover{
	background-color:#c95c71;
}

.drop-menu div:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.drop-menu div:first-child{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.ico-user-count{
	width:13px;
	height:15px;
	background-image: url("../img/ico_user_count.png");
	margin: 14px 5px 0 0;
}

.ico-group-options{
	width:16px;
	height:16px;
	background-image: url("../img/ico_group_options.png");
}

.group-meta-btn{
	padding:4px;
	border-radius:3px;
	border:1px solid transparent;
	margin: 7px 10px 0 15px;
	background-color:transparent;
}
/*
.group-meta-btn:hover{
	border-color:#7984a2;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);	
}
*/

.group-meta-btn:hover{
	background-color:#7d89a8;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.3);
}

.group-meta-btn:active, .group-meta-btn:focus{ outline: 0 }


#chatInnerWrapper{
	top:0;
	position: relative;
	height:100%;
}

#chatContainer{
	position: absolute;
	top:0;
	left:0;right:0;
	bottom:60px;
}

#chatUsers{
	position: absolute;
	top:40px;
	bottom:0px;
	right:0px;
	width:130px;
	background-color: #e8eaf4;
	box-sizing:border-box;
	padding:2px 0;
	border-left:1px solid #ddd;
}

#chatUsers > div{
	padding:5px 8px;
	box-sizing:border-box;
	border-bottom:1px solid #eee;
}

#chatUsers > div > span.ico{
	background-image: url("../img/profile_default.png");
	width:24px;
	height:24px;
	background-size: 24px 24px;
	border-radius:24px;
	display: inline-block;
}

#chatUsers > div.owner{
	background-color:#f3f5fd;
}

#chatUsers > div > span.user{
	position: relative;
	top:-6px;
	left:5px;
	max-width: 85px;
	display: inline-block;
	color:#888;
	cursor:default;
}

#chatUsers > div:hover{
	background-color: #fff
}

#backButton{
	width:16px;
	height:16px;
	margin: 13px 12px 0 0;
	-webkit-app-region: no-drag;
}

#backButton:hover{
	opacity:1;
}


#inputContainer{
	position: absolute;
	bottom:0;
	left:0;right:0;
	height:60px;
}

#chatInputForm{
	position: relative;
	bottom:0;
	left:0;right:0;
	height:59px;
	background:#fff;
	border-top:1px solid #ddd;
}

#chatInput{
	height:40px;
	padding:0 115px 0 5px;
	position: absolute;
	left:10px;
	top:10px;
	right:0;
	box-sizing:border-box;
	width:100%;
	margin:0;
	color:#333;
	border:none;
	font-size:16px;
	display:block;
}

#chatInput:focus, #chatSubmit:focus, #chatSubmit:active{
	outline: 0;
}

#chatSubmit:active{
	background-color:#2b46bd;
}

#chatSubmit{
	height:40px;
	width:80px;
	position: absolute;
	top:10px;
	right:10px;
	background-color:#ffc11b;
	background-image: -webkit-linear-gradient(top, #FCCD1B 0%, #ffc11b 100%);
	color:#fff;
	border:1px solid #f7b61a;
	font-weight:bold;
	border-radius:3px;
	background-repeat: no-repeat;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.3);
}

#chatSubmit:hover{
	background-position: 0 -15px;
}

#chatSubmit:disabled{
	background-image:none;
	background-color:#f9d54e;
	border-color:#e7c43f;
	box-shadow: 0 1px 0 rgba(255,255,255,0.7);
}

::-webkit-selection {
   background-color: #8a96b6;
   color: #fff;
}

#chatContainer{

	padding:10px 10px 10px 15px;
	box-sizing:border-box;
	overflow: auto;
	background:#fff;
}

#chatContainer > div{
	padding: 8px;
	margin: 0 0 10px 0;
	border-radius:2px;
	color:#888;
}

div.log{
	text-shadow:0 1px 0 #fff;	
	box-shadow: none !important;
}

#chatContainer > div.sys{
	background-color:#27ae60;
	color:#fff;
}

#chatContainer > div.admin{
	background-color:#a7accd;
	color:#fff;
}

#chatContainer > div.server{
	background-color:#f2f2f2;
	color:#888;
}

#chatContainer .msg{
	position:relative;
	padding:0;
}

#chatContainer .msg-text{
	margin:0 0 15px 35px;
	padding:4px 10px;
	line-height: 22px;
	font-size:14px;

}
.msg-body{
	margin-right:10px;
	color:#222;
}

#chatContainer .row-right .msg-text{
	margin-left:60px;
	margin-right:5px;
}

#chatContainer .msg-self .msg-body{
	color:#666;
}

#chatContainer .msg-self .msg-user{
	color:#8f7ab6;
}

#chatContainer .msg-meta{
	position:absolute;
	top:0;
	left:0;
}

#chatContainer .row-right .msg-meta{
	position:absolute;
	top:0;
	right:0;
	left:auto;
}


#chatContainer  .msg-user{
	font-weight:bold;
	color:#222;
	margin-right:5px;
}

#chatContainer .msg-ico{
	background-image: url("../img/profile_default.png");
	width:30px;
	height:30px;
	background-size:36px 36px;
	background-position: -3px 0;
	border-radius:30px;
}

#chatContainer .msg-ico.offline{
	border-color:#eee
}

#chatContainer .msg-time{
	font-size:12px;
	color:#ccc;
	display:inline-block;
}


/*
--------------------------------------
 Bubble Loader
--------------------------------------
*/

.bubblingG {
text-align: center;
width:48px;
height:30px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 6px;
height: 6px;
margin: 15px auto;
background: #bdc0ca;
-webkit-border-radius: 30px;
-webkit-animation: bubblingG 0.6s infinite alternate;
}

#bubblingG_1 {
-webkit-animation-delay: 0s;
}

#bubblingG_2 {
-webkit-animation-delay: 0.18s;
}

#bubblingG_3 {
-webkit-animation-delay: 0.36s;
}

@-webkit-keyframes bubblingG {
0% {
width: 6px;
height: 6px;
background-color:#bdc0ca;
-webkit-transform: translateY(0);
}

100% {
width: 14px;
height: 14px;
background-color:#d5d9e4;
-webkit-transform: translateY(-13px);
}

}


.gps_ring {
    background-color: #40D3B7;
    -webkit-border-radius: 30px;
    height: 12px;
    width: 12px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col{
	float:left;
}

.col-right{
	float:right;
}

.row-right .col{
	float:right;
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); 
    background-color:rgba(0,0,0,0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: background: rgba(0,0,0,0.3) 
}